[Desktop Entry]
Name=MotionBox
Type=Application
Exec=/usr/bin/MotionBox
Icon=/opt/MotionBox/MotionBox.png
Path=/opt/MotionBox/
Categories=AudioVideo;Player;Video;

