pkgbase = tribler-latest
	pkgdesc = P2P/Bittorrent/YouTube client
	pkgver = 7.5.2
	pkgrel = 0
	url = http://tribler.org
	arch = x86_64
	license = GPL3
	depends = libtorrent-rasterbar
	depends = python-aiohttp
	depends = python-aiohttp-apispec
	depends = python-bitcoinlib
	depends = python-chardet
	depends = python-cherrypy
	depends = python-configobj
	depends = python-cryptography
	depends = python-libnacl
	depends = python-lz4
	depends = python-netifaces
	depends = python-networkx
	depends = python-pony
	depends = python-psutil
	depends = python-pyasn1
	depends = python-pyopenssl
	depends = python-pyqt5
	depends = python-pyqtgraph
	depends = python-twisted
	depends = vlc
	provides = tribler
	conflicts = tribler
	source = Tribler.tar.gz
	sha256sums = f329e299be1626c6a5044e393134b42a229131469fed369e47db096b17875894

pkgname = tribler-latest

